.header {
    background:var(--red);
    position: fixed;
    top: 0;
}

.header::after {
    content: "";
    width: 100%;
    height: 110px;
    background: url(../img/bg\ shadow.svg);
    position: fixed;
    background-position: center;
    z-index: -1;
    margin-block-start: -90px;
}

.header nav {
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav-sections {
    display: none;
}


@media (min-width: 768px) {
    .header .nav-sections {
        display: flex;
        gap: 40px;
    }
}

.header .nav-sections a{
    font: bold 16px var(--fontBase);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
}