@import url(../css/wrapper.css);
@import url(../css/header.css);
@import url(../css/search-bar.css);
@import url(../css/main.css);
@import url(../css/card.css);

:root {
    --fontBase: 'DM Sans', sans-serif;
    --red: #730000;
    --dorado: #C5B61D;
    --bordeClaro: #FBFCDE;
    --white: white;
}

body {
    font-family: var(--fontBase);
}